*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: fit-content;
}
.SignUp{
          /* background-color: aqua; */
          margin: 120px 0px 0px 100px;
          width: 450px;
          height: 320px;
          padding: 15px 0px 0px 45px;
          display: inline-block;
}
.SignUp h2{
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 33px;
}
form input{
    width: 300px;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    width: 100%;
}
form button{
    color: white;
    margin-top: 5px;
    width: 100%;
    background-color: #1e293b;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e293b;
  width: 1300px;
  
  
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.login {
  padding: 6px 14px;
  border: 1px solid #38bdf8;
  border-radius: 4px;
}

.signup {
  padding: 6px 14px;
  background-color: #38bdf8;
  color: #1e293b !important;
  border-radius: 4px;
}
.image{
    margin-left: 215px;
    margin-top: 35px;
}
.errMsg{
  text-align: center;
  background-color: rgb(233, 96, 96);
  color: black;
  width: 300px;
  margin: auto;
  position: relative;
  top: 260px;
  left: -310px;
  /* margin-top: 50px; */
  
}
