*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh; 

}
div{
 margin-left: 230px;
 margin-top: 30px;
}
h1{
  margin-bottom: 20px;
}
form input{
  height: 35px;
  width: 350px;
  font-size:16px;
}
button{
  color: white;
}
.outerDiv{
  width:420px ;
  margin:Auto;
}
.outerDiv ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top:20px;
}
.outerDiv ul li{
  position: relative;
 text-align: left;
 padding: 10px;
  font-size: 23px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}
.outerDiv ul li span{
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.completeTodo{
  text-decoration: line-through;
  color: red !important;
  background-color: greenyellow !important;
}